<footer class="my-own-footer">
  <p class="text-sm-center mb-0 px-2">
      <span class="float-md-left d-xs-block d-md-inline-block">
    Copyright  © 2019 <a href="#">
    Albertus Christyadhi
  </a></span>
      <a href="#">
          <span class="float-md-right d-xs-block d-md-inline-block hidden-md-down">
    Hand-crafted &amp; Made with PASSION
  </span>
      </a>
  </p>
    <a href="#">
    </a>
</footer>